.homestudent{
  width: 100%;
  min-height: 125vh;
  max-height: fit-content;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#8be8cf));
  .sidenav{
    margin-top: 75px;
    margin-left: -11px;
    height: 739px;
    background-color: rgba(0,0,0,0.7);
    &__icon{
      font-size: 1.85em; 
      margin-top: 10px;
    }
  }
}
.hometeacher{
  width: 1320px;
  height: 650px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(235, 144, 144)), color-stop(100%,#f04949));
}
.headerWS{
  width: 100%;
  height: 76px;
  border-bottom: 1px solid rgba(0,0,0,0.46);
  &__userinfo{
    width: 25%;
    float: right;
    margin-top: -40px;
  }
}
